<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Own Blog</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

{{!-- navbar --}}
<nav class="navbar navbar-dark bg-dark sticky-top">

    {{!-- logo --}}
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <a href="/">
                <img src="./assets/logo2.png" role="img" aria-label="logo" width="60" height="40"></img>
            </a>
        </header>
    </div>

    <span class="navbar-brand mb-0 h1"><span class="text-info"></span>

        <span></span></span>
    <span>
        <button onclick="loginRoute()" class="no-button  btn-outline-secondary btn-lg" id="login">login</button>
        <button onclick="logoutFormHandler()" class="no-button btn-outline-secondary btn-lg" id="logout">logout</button>
    </span>
</nav>
{{!-- navbar end --}}


<body>

    <main class="container container-fluid mt-5">
        {{{ body }}}
    </main>

    <script src="js/auth.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</body>

</html>