</div>
<div class="row">
    <div class="card-body">
        <h5 class="card-title">Blog Posts</h5>
        <ul>
            {{#each postsUser.blogPosts as |blogPost|}}
            <div class="card">
                <div class="card-header">
                    {{blogPost.date}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{blogPost.blog_title}}</h5>
                    <p class="card-text">{{blogPost.blog_body}}</p>
                </div>
            </div>
            <br>
            {{/each}}
        </ul>
    </div>
</div>